
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
</title>
</head>
<body>
<h1>API para obter recomendações de clientes</h1>
<p>Instruções:</p>
<p>A solicitação deve ter a seguinte estrutura: https://recomend.herokuapp.com/{cidade}/{palavras_chaves}</p>
<p>Por exemplo: https://recomend.herokuapp.com/Caruaru/comer, pizza</p>
<p>Para mais de uma palavra, é preciso separar por virgula. </p>
<p></p>
<p>O retorno terá o seguinte formato: </p>
<p>{"Twitter": "twitter", "User": "contaDoUsuario"}</p>
<p></p>
<p>Por exemplo:</p>
<p>{"Twitter": "Uma pizza grande só pra mim, o deliciaaaa "User": "pablowagner04"}</p>
<p></p>
</body>
</html>
